<html>
<%- include("partials/head") %>

<body>

  <div class="headerOriginal" style="display: flex; flex-direction: column;">
    <p style="color: #ab191f;font-size: 28px; text-align: center;"> Agregar
      <span style="font-weight: 900;">producto </span> </p>
    <%- include("partials/headerProducto") %>
  </div>

  <div class="headerNavbar">
    <%- include("partials/headerProducto") %>
  </div>


  <main>

    <div class="perfilContainer">
<!-- 
      <% if(locals.errors){ %>

        <script>
            document.getElementById('popup-1').style.display = "block"
        </script>

        <div class="popup" id="popup-1">
            <div class="overlay"></div>
            <div class="popup-content">
                <div style="font-size: 40px; color: #ab191f;"  id="close-btn"><i class="fas fa-times-circle"></i></div>
                <h2 style="font-size: 30px;">Atención!</h2>
                <ul style=" padding-right: 40px; text-align: center; border-radius: 20px;">
                    <% for(let i = 0; i < errors.length;i++) { %>
                    <li style="list-style-type: none; font-size: 20px;"> <%= errors[i].msg %> </li>
                    <% } %>
                </ul>
            </div>
        </div>

        <script>
            let close = document.getElementById('close-btn')

            close.onclick = function () {
                document.getElementById('popup-1').style.display = "none"
                document.getElementById('popup-1').style.transition =  ('all 300ms ease-in-out')
            }
        </script>
        <% } %>
 -->


      <div class="datosEditar" style="margin-left: 30vw;">
        <form id="agregarForm" class="dataEditar" action="/productos" method="POST" enctype="multipart/form-data">
          <label for="nombre"> Nombre <label style="color: #ab191f;">*</label> </label>
          <input placeholder="Nombre" type="text" id="nombre" name="nombre">
          <br>
          <label for="precio"> Precio <label style="color: #ab191f;">*</label></label>
          <input placeholder="$$$" type="text" name="precio" id="precio">
          <br>
          <label for="descripcion"> Descripción <label style="color: #ab191f;">*</label> </label>
          <textarea placeholder="Descripción" id="descripcion" type="text" name="descripcion"></textarea>
          <br>
          <label for="imagen"> Imagen <label style="color: #ab191f;">*</label></label>
          <input id="imagen" type="file" name="imagen">
          <br>
          <label> Categoría <label style="color: #ab191f;">*</label> </label>

          <select name="categoria" id="categoria">
            <option disabled hidden selected>Selecciona una opción</option>
            <% for(let i = 0; i < categorias.length; i++) { %>
            <option value="<%= categorias[i].id %>"><%=  categorias[i].nombre  %></option>
            <% } %>
          </select>

          <br>
          <label> Subcategoría <label style="color: #ab191f;">*</label> </label>

          <select name="sub_categoria" id="subcategoria">
            <option disabled hidden selected>Selecciona una opción</option>
            <% for(let j = 0; j < sub_categorias.length; j++) { %>
            <option value="<%= sub_categorias[j].id %>"><%=  sub_categorias[j].nombre  %></option>
            <% } %>
          </select>

          </br>
          <label> Marca <label style="color: #ab191f;">*</label> </label>

          <select name="marca" id="marca">
            <option disabled hidden selected>Selecciona una opción</option>
            <% for(let y = 0; y < marcas.length; y++) { %>
            <option value="<%= marcas[y].id %>"><%= marcas[y].nombre %></option>
            <% } %>
          </select>

          </br>
          <label for="stock"> En stock </label>
          <input name="stock" class="stock" type="checkbox" id="stock" />
          </br>
          <label> Oferta </label>
          <input name="oferta" class="oferta" type="checkbox" id="oferta" />
          <button id="agregar" style="margin-top: 3vh;" type="submit"> AGREGAR PRODUCTO </button>

        </form>
      </div>
    </div>
  </main>

 
  


  <script src="/js/Categoria_SubCategoria.js"></script>
  <script src="/js/agregarValidation.js"></script>


</body>

</html>