<html>
<%- include("partials/head", {session:session}) %>

<body>
   <%- include("partials/quantity.ejs") %>
   <div class="headerOriginal">
      <%- include("partials/header", {session:session}) %>
   </div>
   <div class="headerNavbar">
      <%- include("partials/headernavbar", {session:session}) %>
   </div>
   <% if(productosCarrito) { %>
  



   <main class="mainCart">

      <div class="cartContainer">
         <% if(productosCarrito.length == 0){ %>
         <p>Sin productos en el carrito</p>
         <% } %>

         <%  productosCarrito.forEach(a =>{ %>
         <% a.producto.forEach(b=>{ %>
         <div class="productoCart">
            <div class="imgCart">
               <a href="/detalleProducto/<%= b.id %>"> <img class="image" id="productoImg1"
                     src="/img/products/<%= b.imagen %>"></a>
            </div>
            <div id="nombreCartDesktop" class="nombreCart">
               <a class="nombre" id="nombreProducto"> <%= b.nombre %> </a>
            </div>
            <% if(b.stock == 1){ %>
            <a> EN STOCK </a>
            <% }else{%>
            <a> SIN STOCK </a>
            <% } %>
            <div id="qtyDesktop" class="quantity buttons_added">
               <input type="button" value="-" class="minus">
               <input type="number" step="1" min="1" max="" name="cantidad"
                  value="1" id="cantidad" title="Qty" class="input-text qty text" size="4" pattern=""
                  >
               <input type="button" value="+" class="plus">
            </div>
            <div class="meta">
               <div class="nombreCart">
                  <a class="nombre" id="nombreProducto"> <%=b.nombre %> </a>
               </div>
              <!--  <div class="quantity buttons_added">
                 <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max=""
                     name="cantidad" id="cantidad" value="1" title="Qty" class="input-text qty text"
                     size="4" pattern="" inputmode=""> 1<input type="button" value="+" class="plus">
               </div> -->
            </div>
            <div class="precioCart">
               <a class="precio" id="precioProducto">
                  $<%= (Math.round(b.precio * 100) / 100).toLocaleString() %></a>
            </div>
            <div class="eliminarCart">
               <form action="/cart/<%=b.id %>?_method=DELETE" method="POST">
                  <button type="submit" style="width:100px; height: 50px; display: ruby;" class="btn">Eliminar
                     producto</button>
               </form>
            </div>
         </div>


         <% }) %>
         <% }) %>
         <div class="resumen">
            <p> Productos <a id="totalProductos">  <!-- <% let acum = 0;
               for(let j = 0; j < productosCarrito.length; j++){
                   acum += parseInt(productosCarrito[j].cantidad);
               } %> <%= acum %> </a> </p> -->

         </div>
      </div>
   </main>
   
   <% } %>
   <div class="footerNavbar">
      <%- include("partials/footernavbar") %>
   </div>

   <script>
      let cantidad = document.getElementById('cantidad')
      let totalProductos = document.getElementById('totalProductos')
     
      
      cantidad.onchange = function (e) {

         alert(cantidad.value)

         while (cantidad.value > 0) {
            cantidad.value += totalProductos.value
         }

      }
   </script>

</body>

</html>