<html>
<%- include("partials/head") %>

<body>

  <div class="headerOriginal" style="display: flex; flex-direction: column;">
    <p style="color: #ab191f;font-size: 28px; text-align: center;"> Editar
      <span style="font-weight: 900;">producto </span> </p>
    <%- include("partials/headerProducto",{session:session}) %>
  </div>


  <div class="headerNavbar">
    <%- include("partials/headernavbar") %>
  </div>

  <main>

    <% if(locals.errors){ %>

      <script>
          document.getElementById('popup-1').style.display = "block"
      </script>

      <div class="popup" id="popup-1">
          <div class="overlay"></div>
          <div class="popup-content">
              <div style="font-size: 40px; color: #ab191f;"  id="close-btn"><i class="fas fa-times-circle"></i></div>
              <h2 style="font-size: 30px;">Atención!</h2>
              <ul style=" padding-right: 40px; text-align: center; border-radius: 20px;">
                  <% for(let i = 0; i < errors.length;i++) { %>
                  <li style="list-style-type: none; font-size: 20px;"> <%= errors[i].msg %> </li>
                  <% } %>
              </ul>
          </div>
      </div>

      <script>
          let close = document.getElementById('close-btn')

          close.onclick = function () {
              document.getElementById('popup-1').style.display = "none"
              document.getElementById('popup-1').style.transition =  ('all 300ms ease-in-out')
          }
      </script>
      <% } %>




    <p style="color: #ab191f;font-size: 28px; text-align: center;"> <span
        style="font-weight: 900;"><%= producto.nombre  %> </span> </p>
    <div class="editarProductoContainer">
      <img src="/img/products/<%= producto.imagen %>">
      <div style="margin-right: 0vw;" class="datosEditar">
        <form id="editarForm" class="dataEditar" action="/detalleProducto/<%= producto.id %>?_method=PUT" method="POST"
          enctype="multipart/form-data">
          <label for="nombre"> Nombre </label>
          <input placeholder="<%= producto.nombre %>" value="<%= producto.nombre %>" id="nombre" style="text-transform: capitalize;" type="text" name="nombre">
          <br>
          <label for="precio"> Precio </label>
          <input placeholder="<%= producto.precio %>" value="<%= producto.precio %>"  id="precio" type="text" name="precio">
          <br>
          <label for="descripcion"> Descripción </label>
          <textarea id="descripcion" placeholder="<%= producto.descripcion %>"  type="text"name="descripcion"><%= producto.descripcion %>"</textarea>
          <br>
          <label for="imagen"> Imagen </label>
          <input id="imagen" type="file" name="imagen">
          <br>

          <label> Categoría </label>
          <select  name="categoria" id="categoria">
            <option disabled hidden selected><%= producto.categoria.nombre %></option>
            <% for(let i = 0; i < categorias.length; i++) { %>
            <option value="<%= categorias[i].id %>"><%=  categorias[i].nombre  %></option>
            <% } %>
          </select>
          <br>
          <label> Subcategoría </label>
          <select  disabled name="sub_categoria" id="subcategoria">
            <option disabled hidden selected><%= producto.subcategoria.nombre %></option>
            <% for(let j = 0; j < sub_categorias.length; j++) { %>
            <option value="<%= sub_categorias[j].id %>"><%=  sub_categorias[j].nombre  %></option>
            <% } %>
          </select>


          </br>
          <label> Marca </label>
          <select id="marca" name="marca">
            <option value="<%= marcas.nombre %>" disabled hidden selected><%= producto.marca.nombre %></option>
            <% for(let i = 0; i < marcas.length; i++) { %>
            <option value="<%= marcas[i].id %>"><%= marcas[i].nombre %></option>
            <% } %>
          </select>
          </br>
          <button type="button" id="enableCheckbox" style="margin-right: 35%; margin-left: 35%;">CHECKBOX</button>

          <br>
          <label for="stock"> En stock </label>
          <input name="stock" class="stock" type="checkbox" id="stock" />
          </br>
          <label> Oferta </label>
          <input name="oferta" class="oferta" type="checkbox" id="oferta" />

          <button id="editar" style="margin-top: 3vh;" type="submit"> EDITAR PRODUCTO </button>
        </form>
      </div>
      <span style=" margin-left: 20vh;
      margin-right: 2vw;
      width: 20vw;
      height: 50%;
      border-radius: 0;"  ></span>
    </div>
    
  </main>

 
  <script src="/js/Categoria_SubCategoria.js"></script>
  <script src="/js/editarProductoValidation.js"></script>

</body>

</html>