<html>
<%- include("partials/head") %>



<body onload="loadcaps()" style="overflow-y: hidden;">

   <div class="headerOriginal">
      <%- include("partials/headerAdmin.ejs") %>
   </div>
   <div class="headerNavbar">
      <%- include("partials/headernavbar") %>
   </div>
   <main>

      <div class="containerRegister">




         <div class="LoginForm">


            <form class="datosRegisterForm" id="formRegister" action="/log" method="POST" enctype='multipart/form-data'>
               <div class="inputLogin">

                  <%  if(locals.errors){ %>
                  <ul style="padding: 20px 20px 20px 20px; background-color: white; border-radius: 20px;">
                     <% for(let i = 0; i < errors.length;i++) { %>
                     <li style="list-style-type: none;"> <%= errors[i].msg %> </li>
                     <% } %>
                  </ul>
                  <% } %>

                  <%  if(locals.emailExist){ %>
                  <script>
                     Swal.fire({
                        title: 'Email ya registrado',
                        showConfirmButton: false,
                        timer: 2000
                     })
                  </script>

                  <% } %>


                  <input class="boton-login" placeholder="Nombre" style="text-transform: capitalize;" id="nombre"
                     type="text" name="nombre">
                  <br>

                  <input class="boton-login" placeholder="Apellido" style="text-transform: capitalize;" id="apellido"
                     type="text" name="apellido">
                  <br>

                  <input class="boton-login" placeholder="Usuario" type="text" id="usuario" name="usuario">
                  <br>

                  <input class="boton-login" placeholder="Correo electrónico" id="emailRegister" type="text"
                     name="email">
                  <br>

                  <input class="boton-login" placeholder="Domicilio" style="text-transform: capitalize;" id="domicilio"
                     type="text" name="domicilio">
                  <br>

                  <input class="boton-login" placeholder="Foto de perfil" id="foto" type="file" name="imagen">
                  <br>

                  <label style="font-weight: 900; padding-bottom: 10px;" id="capsLock"> Mayúsculas activadas </label>
                  <input class="boton-login" placeholder="Contraseña" id="password" type="password" name="password">
                  <br>
                  <input class="boton-login" placeholder="Repetir contraseña" name="passwordConfirmar"
                     id="passwordConfirmar" type="password">
                  <br>
               </div>
               <button style="margin-bottom: 20px" class="boton-enviar" id="registrarse" type="submit"> Completar
                  registración </button>






            </form>



         </div>
      </div>
   </main>
   <div class="footerNavbar">
      <%- include("partials/footernavbar") %>
   </div>

   <script src="/js/CapsLock.js"></script>

   <script src="/js/registerValidation.js"> </script>


</body>

</html>